body {
  margin: 0;
}

.wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  .container {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .red-container {
    display: flex;
    background: red;
  }

  .blue-container {
    display: flex;
    background: blue;
  }

  p {
    color: white;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

.lottie-container {
  display: flex;
  align-items: center;
  width: max-content;
  height: 400px;
}
